.container-about{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
    margin-bottom: -40px;

    @media screen and (max-width: 768px) {
       gap: 3px;
       margin-top: -20px; 
       margin-bottom: -55px;
    }
}

