.logement {
    font-family: Montserrat, sans-serif;
    flex-grow: 1;
  
    .logement-info {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  
      .primary-info {
        .title {
          color: #FF6060;
          font-weight: 500;
          font-size: 35px;
          margin-bottom: 10px;

          @media screen and (max-width: 768px) {
            font-size: 18px;  
            height: 46px;
            }
        }
  
        .location {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 20px;

          @media screen and (max-width: 768px) {
            font-size: 14px;  
          }
        }
      }
  
      .secondary-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      
    }

   .logement-collapse {
      display: flex;
      justify-content: space-between;
      gap: 70px;
      margin-top: 20px;
  
      .collapse {
        flex: 1;
        max-width: calc(50% - 10px);
      }
  
      .collapse-button {
        display: flex;
        text-align: left;
        color: #ffffff;
        background-color: #FF6060;
        border-radius: 5px;
        border: none; 
        width: 100%; 
        font-size: 19px;
        font-weight: 600;
        cursor: pointer; 

        @media screen and (max-width: 768px) {
            font-size: 15px; 
            padding: 8px 12px; 
        }
       
    }

    .collapse-content {
        width: 100%;
        margin-bottom: 0;
       
    }

    .collapse-inner {
        width: 90%;
        padding: 20px;
    }

    ul {
        margin-top: 0;
        list-style-type: none;
        padding: 0;
    }
    }
  
    @media screen and (max-width: 768px) {
      .logement-info {
        flex-direction: column;
  
        .secondary-info {
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          margin-top: 20px;
        }
      }
  
      .logement-collapse {
        flex-direction: column;
        gap: 20px;
  
        .collapse {
          width: 100%;
          max-width: none;
        }
      }
    }
  }
  