.carousel {
    margin-top: 50px;
    position: relative;

    .carousel__image-container {
        width: 100%;
        height: 415px;
       

        img {
            width: 100%;
            height: 415px;
            border-radius: 20px;
            object-fit: cover;
            }


        .carousel__counter {
            position: absolute;
            bottom: 5%;
            left: 45%;
            right: 45%;
            color: rgb(255, 255, 255);
            font-size: 20px;
            }
        
    }

   

    .carousel__buttons {
        display: flex;
        position: absolute;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        top:46%;
       

        img {
            height: 50px;
            cursor: pointer;
            
        }
    }

  
}