header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 35px;
  padding-bottom: 15px;

  @media screen and (max-width: 768px) {
    padding-bottom: 0;
  }


  picture {
    width: 30%;
    max-width: 200px;

    img {
      width: 100%;
      height: auto; 
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 30px;

    @media screen and (max-width: 768px) {
      gap: 10px;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: 500;
      font-size: 24px;
      font-family: Montserrat, sans-serif;
      margin: 0 10px;

      @media screen and (max-width: 768px) {
        font-size: 10px;
        text-transform: uppercase;
      }

      &.active {
        text-decoration: underline;
        text-underline-offset: 6px;
      }

      &:hover {
        color: #f1356d;
      }
    }
  }
}
