.stars {
    display: flex;
  }
  
  .star {
    width: 23px; 
    height: 23px; 
    margin-right: 13px; 

    @media screen and (max-width: 768px) {
      width: 17px; 
      height: 17px; 
      margin-right: 8px;   
    }
    
  }

  
  