.logement-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @media screen and (max-width: 768px) {
       gap: 4px;
    }

    button {
        background-color: #FF6060;
        color: white;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        padding: 5px 20px;
        height: 25px;
        margin-right: 4px;
        border: transparent;
        border-radius: 8px;

        @media screen and (max-width: 768px) {
            width: 75px; 
            height: 18px; 
            margin-right: 1px;   
            padding: 2px;
            font-size: 6px;
            margin: 0;
            border-radius: 4px;
        }
        
    }
}